{% extends "base.html" %}

{% block style %}
body {
    background-color: #263238;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.title {
    color: #c2e0ff;
}
h3 {
    font-size: 35px;
}
h6 {
    font-size: 20px;
}
.bookmark-container {
    margin: 10px 15px;
}
a {
    text-decoration: none;
}
a:link {
    color: #bdc4d4;
}
a:visited {
    color: #bdc4d4;
}

.header {
    margin-top: 80px;
    margin-bottom: 40px;
}

.cards {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 560px;
}

.bookmark-mega-container {
    border-color: #222d32;
    background-color: #222d32;
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    margin: 15px 20px 15px 30px;
    padding: 10px;
}
h4 {
    font-size: 25px;
    font-family: monospace;
    padding: 10px 10px 0 10px;
    color: #84b4e6;
}
.getting-started-container {
    border-size: 3;
    border-color: #1f84bd;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    margin: 10px;
}
.logo {
    width:75px;
    height: 75px;
    padding: 10px;
}
.title-container {
    text-align: center;
    display: flex;
    align-items: center;
    max-width:500px;
    margin:auto;
    padding: 15px;

}
.link-container {
    margin: 10px 15px;
}
input {
    font-size: 20px;
    outline: none;
    min-height: 45px;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid transparent;
    border-radius: 8px;
    background-color: #4e4f63db;
    color: #cce1f7;
}

input::placeholder {
    color: #bccbda;
}

.cards h4 {
    margin: 0;
}

.settings {
    display: flex;
    flex-flow: row-reverse;
    margin: 15px;
}
{% endblock %}

{% block content %}
<div class="settings">
<a href="qute://settings">⚙️</a>
</div>
<div class="header">
<div class="title-container">
  <img src="https://qutebrowser.org/icons/qutebrowser.svg" class="logo">
  <span>
    <h3 class="title">qutebrowser</h3>
  </span>
</div>
<div class="search-box title-container" id="search">
<form>
<input type="text" size="50" name="q" placeholder="Search the web" id="search-field"/> 
<input type="submit" style="display: none;" formaction="{{ search_url }}" formmethod="get" >
</form>
</div>
</div>
<div class="cards">
{% if bookmarks %}
<div class="bookmark-mega-container">
  <h4>Bookmarks</h4>
  {% for bookmark in bookmarks %}
  <div class="bookmark-container">
    <a class="bookmark-name" href="{{ bookmark[0] }}"> {{ bookmark[1] }} </a>
  </div>
  {% endfor %}
</div>
{% endif %}
{% if quickmarks %}
<div class="bookmark-mega-container">
  <h4>Quickmarks</h4>
  {% for quickmark in quickmarks %}
  <div class="bookmark-container">
    <a class="bookmark-name" href="{{ quickmark[1] }}"> {{ quickmark[0] }} </a>
  </div>
  {% endfor %}
</div>
{% endif %}
<div class="bookmark-mega-container">
  <h4>Getting Started</h4>
  <div class="link-container">
    <a class="link-name" href="https://qutebrowser.org">Official Website</a>
  </div>
  <div class="link-container">
    <a class="link-name" href="https://raw.githubusercontent.com/qutebrowser/qutebrowser/master/doc/img/cheatsheet-big.png">Cheat Sheet</a>
  </div>
  <div class="link-container">
    <a class="link-name" href="https://qutebrowser.org/doc/changelog.html">Changelog</a>
  </div>
</div>
</div>
{% endblock %}

