{% extends "base.html" %}

{% block style %}
body {
    background-color: #263238;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.title {
    /* color: #1f84bd; */
    color: #cce1f7;
    /* color: #000000; */
}
h3 {
    font-size: 45px;
}
h6 {
    font-size: 20px;
}
.bookmark-container {
    margin: 10px 15px;
}
a {
    text-decoration: none;
}
a:visited {
    color: #9a9faa;
}
a:link {
    color: #9a9faa;
}

.header {
    margin-top: 60px;
}

.cards {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 560px;
}

.bookmark-mega-container {
    border-color: #222d32;
    background-color: #222d32;
    border-radius: 8px;
    border-width: 1px;
    box-shadow: 0px 4px 5px #171d20a8;
    border-style: solid;
    margin: 30px;
    padding: 10px;
}
h4 {
    font-size: 30px;
    padding: 10px 10px 0 10px;
    color: #5d86aa;
}
.getting-started-container {
    border-size: 3;
    border-color: #1f84bd;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    margin: 10px;
}
.logo {
    width:75px;
    height: 75px;
    padding: 10px;
}
.title-container {
    text-align: center;
    display: flex;
    align-items: center;
    max-width:500px;
    margin:auto;
    padding: 15px;

}
.link-container {
    margin: 10px 15px;
}
input {
    font-size: 20px;
    outline: none;
    min-height: 45px;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid transparent;
    border-radius: 8px;
    box-shadow: 0px 4px 5px #171d2063;
    background-color: #4c566a;
    color: #b9c5de;
}

input::placeholder {
    color: #8f9191;
}

.cards h4 {
    margin: 0;
}
{% endblock %}

{% block script %}
const searchUrl = "{{ search_url }}"
function search(e) {
    if (e.keyCode == 13) {
	var val = document.getElementById("search-field").value;
	window.open(searchUrl + val)
    }
}
{% endblock %}


{% block content %}
<div class="header">
<div class="title-container">
  <img src="https://qutebrowser.org/icons/qutebrowser.svg" class="logo">
  <span>
    <h3 class="title">qutebrowser</h3>
  </span>
</div>
<div class="search-box title-container" id="search">
<input type="text" size="50" name="search-box" placeholder="Search..." onkeypress="return search(event)" id="search-field"/> 
</div>
</div>
<div class="cards">
{% if bookmarks %}
<div class="bookmark-mega-container">
  <h4>Bookmarks</h4>
  {% for bookmark in bookmarks %}
  <div class="bookmark-container">
    <a class="bookmark-name" href="{{ bookmark[0] }}"> {{ bookmark[1] }} </a>
  </div>
  {% endfor %}
</div>
{% endif %}
{% if quickmarks %}
<div class="bookmark-mega-container">
  <h4>Quickmarks</h4>
  {% for quickmark in quickmarks %}
  <div class="bookmark-container">
    <a class="bookmark-name" href="{{ quickmark[1] }}"> {{ quickmark[1] }} </a>
  </div>
  {% endfor %}
</div>
{% endif %}
<div class="bookmark-mega-container">
  <h4>Getting Started</h4>
  <div class="link-container">
    <a class="link-name" href="https://qutebrowser.org">Official Website</a>
  </div>
  <div class="link-container">
    <a class="link-name" href="https://raw.githubusercontent.com/qutebrowser/qutebrowser/master/doc/img/cheatsheet-big.png">Cheat Sheet</a>
  </div>
  <div class="link-container">
    <a class="link-name" href="https://qutebrowser.org/doc/changelog.html">Changelog</a>
  </div>
</div>
</div>
{% endblock %}

